@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "lato", sans-serif;
/*   background: #4e54c8;
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  background: linear-gradient(to right, #8f94fb, #4e54c8); */



}



header {
  padding: 40px;
}
  
.main-container {
  display: flex;
  flex-direction: row;
}
    

